@model matrix.Models.Entidades.Servicos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@*<h4>Servicos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TipoServico" class="control-label">Tipo de Serviço</label>
                <input asp-for="TipoServico" class="form-control" />
                <span asp-validation-for="TipoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MostraPagInicial" /> @Html.DisplayNameFor(model => model.MostraPagInicial)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EquipeId" class="control-label">Serviço apareça na página principal?</label>
                <select asp-for="EquipeId" class ="form-control" asp-items="ViewBag.EquipeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

<div class="px-4 w-full centralizarElemento" style="margin-top: 100px; margin-bottom: 100px">
            <div
              class="
                shadow-testimonial
                rounded-lg
                bg-white
                py-10
                px-8
                md:p-[60px]
                lg:p-10
                2xl:p-[60px]
                sm:py-12 sm:px-10
                lg:py-12 lg:px-10
                wow
                fadeInUp
              "
              data-wow-delay=".2s
              "
            >
              <h3 class="font-semibold mb-8 text-2xl md:text-[26px]">
                Serviço
              </h3>
              <form asp-action="Create">
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Tipo de Serviço</label
                  >
                  <input
                    name="TipoServico"
                    placeholder="Design"
                    class="
                      w-full
                      border-0 border-b border-[#f1f1f1]
                      focus:border-primary focus:outline-none
                      py-4
                    "
                  />
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Descrição</label
                  >
                  <input
                    name="Descricao"
                    placeholder="Idealização e desenvolvimento da estetica de um produto"
                    class="
                      w-full
                      border-0 border-b border-[#f1f1f1]
                      focus:border-primary focus:outline-none
                      py-4
                    "
                  />
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Equipe dona do Serviço</label
                  >
                  <select
                    name="EquipeId"
                    class="
                      form-control
                      w-full
                      border-0 border-b border-[#f1f1f1]
                    "
                    asp-items="ViewBag.EquipeId"
                  ></select>
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark" style="padding-bottom: 10px"
                    >Aparecerá na Pagina inicial?</label
                  >
                  <label class="form-check-label text-xs text-dark" >
                    <input class="form-check-input" asp-for="MostraPagInicial" /> @Html.DisplayNameFor(model => model.MostraPagInicial)
                </label>
                </div>
                <div class="mb-0">
                  <button
                    type="submit"
                    value="Create"
                    class="
                      inline-flex
                      items-center
                      justify-center
                      py-4
                      px-6
                      rounded
                      text-white
                      bg-primary
                      text-base
                      font-medium
                      hover:bg-dark
                      transition
                      duration-300
                      ease-in-out
                    "
                  >
                    Adicionar Serviço
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
