@using Microsoft.AspNetCore.Identity
@using matrix.Models.Entidades

@inject SignInManager<Pessoa> SignInManager
@inject UserManager<Pessoa> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="sm:flex justify-end hidden pr-16 lg:pr-0">
        <a asp-area="Identity" asp-page="/Account/Login"
       class="
                  text-base
                  font-medium
                  text-white
                  hover:opacity-70
                  py-3
                  px-7
                  loginBtn
                ">
            Sign In
        </a>
        <a asp-area="Identity" asp-page="/Account/Register"
       class="
                  text-base
                  font-medium
                  text-white
                  bg-white bg-opacity-20
                  rounded-lg
                  py-3
                  px-6
                  hover:bg-opacity-100 hover:text-dark
                  signUpBtn
                  duration-300
                  ease-in-out
                ">
            Sign Up
        </a>
    </div>


}
else if(User.IsInRole("Administrador"))         
{


    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn" id="btnlogin" style="margin-right: 50px">
                <img class="imgEvent" src="~/assets/images/login/logoutIcon.png" alt="" style="height: 40px;" onclick="dropdown()"></img>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a>Olá, @UserManager.GetUserName(User)</a>
                <a asp-action="Administrador" asp-controller="home"> Painel Administrativo</a>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropbtn"> Logout</button>
                </form>
                
            </div>

        </div>
    </div>
} else
{
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn" id="btnlogin" style="margin-right: 50px">
                <img class="imgEvent" src="~/assets/images/login/logoutIcon.png" alt="" style="height: 40px;" onclick="dropdown()"></img>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Olá, @UserManager.GetUserName(User)</a>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropbtn"> Logout</button>
                </form>

            </div>

        </div>
    </div>
}


<script>
    function testest() {
    }
    </script>
<script>
    function dropdown() {
       document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(e) {
        console.log(e)
      if (!e.target.matches('.imgEvent')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }

</script>