<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - matrix</title>
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/tailwind.css" />
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/wow.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*    <link rel="stylesheet" href="~/matrix.styles.css" asp-append-version="true" />
    *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body >
    <style>
        body{
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .container{
            height: 100vh;
        }
    </style>
    <header>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

    <!-- ====== Footer Section End -->
</html>
