<!-- ====== Pricing Section Start -->
    <section
      id="pricing"
      class="
        bg-white
        pt-20
        lg:pt-[120px]
        pb-12
        lg:pb-[90px]
        relative
        z-20
        overflow-hidden
      "
      style="margin-right: 200px; margin-left: 200px; padding-top: 200px;"
    >
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4">
            <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
              
              <h2
                class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[40px]
                  text-dark
                  mb-4
                "
              >
                Painel Administrativo
              </h2>
              <p
                class="
                  text-lg
                  sm:text-xl
                  leading-relaxed
                  sm:leading-relaxed
                  text-body-color
                "
              >
                Por aqui você consegue selecionar o item que deseja e dentro dele
                poderá adicionar um novo item, atualizar ou deletar um item já existente.
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap items-center justify-center">
          
          <div class="w-full md:w-1/2 lg:w-1/3">
            <div
              class="
               
                bg-white
                rounded-xl
                relative
                z-10
                overflow-hidden
                border border-primary border-opacity-20
                shadow-pricing
                py-10
                px-8
                sm:p-12
                lg:py-10 lg:px-6
                xl:p-12
                mb-10
                text-center
                wow
                fadeInUp
              
              "
              data-wow-delay=".1s
              "
            >
              <span
                class="
                  inline-block
                  py-2
                  px-6
                  border border-white
                  rounded-full
                  text-base
                  font-semibold
                  text-primary
                  bg-white
                  uppercase
                  mb-5
                "
              >
              </span>
              
              <h2 class="font-semibold text-primary mb-9 text-[28px]">
                Serviços
              </h2>

              <div class="mb-10">
                  <div>
                <a asp-action="create" asp-controller="servicos" class="text-base font-medium text-black leading-loose mb-1">
                  Adicionar
                </a>
                </div>
                <div>
                    <a asp-action="listaServicos" asp-controller="servicos" class="text-base font-medium text-black leading-loose mb-1">
                  Editar
                </a>
                <span
                class="
                  absolute
                  left-0
                  bottom-0
                  z-[-1]
                  w-14
                  h-14
                  rounded-tr-full
                  block
                  bg-primary
                "
              >
                </div>
              </div>
                
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3" style="margin-left: 0px;">
            <div
              class="
               
                bg-white
                rounded-xl
                relative
                z-10
                overflow-hidden
                border border-primary border-opacity-20
                shadow-pricing
                py-10
                px-8
                sm:p-12
                lg:py-10 lg:px-6
                xl:p-12
                mb-10
                text-center
                wow
                fadeInUp
              
              "
              data-wow-delay=".1s
              "
            >
              <span
                class="
                  inline-block
                  py-2
                  px-6
                  border border-white
                  rounded-full
                  text-base
                  font-semibold
                  text-primary
                  bg-white
                  uppercase
                  mb-5
                "
              >
              </span>
              
              <h2 class="font-semibold text-primary mb-9 text-[28px]">
                Postagens
              </h2>

              <div class="mb-10">
                  <div>
                <a asp-action="create" asp-controller="postagems" class="text-base font-medium text-black leading-loose mb-1">
                  Adicionar
                </a>
                </div>
                <div>
                    <a asp-action="ListaPostagens" asp-controller="postagems" class="text-base font-medium text-black leading-loose mb-1">
                  Editar
                </a>
                <span
                class="
                  absolute
                  right-0
                  top-0
                  z-[-1]
                  w-14
                  h-14
                  rounded-bl-full
                  block
                  bg-secondary
                "
              >
              </span>
                </div>
              </div>
                
            </div>
          </div>

          
          </div>        
      </div>
    </section>
    <!-- ====== Pricing Section End -->
