@{
    ViewData["Title"] = "Home Page";
}
<!-- ====== Banner Section Start -->
<section>
    <div class="imgbanner">
        <img src="https://wallpaperboat.com/wp-content/uploads/2019/08/Abstract-Background-Abstraction-Desktop.jpg" />
    </div>
</section>
<!-- ====== Banner Section End -->

<div class="sectiontitlebanner">
    <div class="sectiontitlebannerchildren"
    <div>
        <h2>
            Como Podemos ajudar seu négocio a evoluir digitalmente?
        </h2>
        <button>
            Saiba mais
        </button>
    </div>
</div>
</div>


<!-- ====== Features Section Start -->
<section class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container sectionstartnew">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4 centralizarTexto centralizarElemento">
                <div class="mb-12 lg:mb-20 max-w-[620px]">
                    <span class="font-semibold text-lg text-primary mb-2 block">
                        Features
                    </span>
                    <h2 class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[42px]
                  text-dark
                  mb-4
                ">
                        Nossa lista de serviços
                    </h2>
                    <p class="
                  text-lg
                  sm:text-xl
                  leading-relaxed
                  sm:leading-relaxed
                  text-body-color
                ">
                        Temos uma lista vasta de serviços que podem facilitar o seu dia a dia, confira abaixo alguns deles.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap centralizarElemento -mx-3">
            <div class="w-full md:w-1/2 lg:w-1/4 px-3">
                <div class="bg-white mb-12 group wow fadeInUp"
                     data-wow-delay=".15s">
                    <div class="
                  w-[70px]
                  h-[70px]
                  flex
                  items-center
                  justify-center
                  bg-primary
                  rounded-2xl
                  mb-8
                  relative
                  z-10
                ">
                        <span class="
                    w-[70px]
                    h-[70px]
                    flex
                    items-center
                    justify-center
                    bg-primary bg-opacity-20
                    rounded-2xl
                    mb-8
                    absolute
                    z-[-1]
                    top-0
                    left-0
                    rotate-[25deg]
                    group-hover:rotate-45
                    duration-300
                  "></span>
                        <svg width="35"
                             height="35"
                             viewBox="0 0 52 52"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M49.8062 23.3187L43.875 17.3875C43.3063 16.8187 42.4125 16.8187 41.8438 17.3875C41.275 17.9562 41.275 18.85 41.8438 19.4187L46.9625 24.6187H27.4625V4.87498L32.5812 10.075C33.15 10.6437 34.0437 10.6437 34.6125 10.075C35.1812 9.50623 35.1812 8.61248 34.6125 8.04373L28.6812 2.11248C27.95 1.38123 26.975 0.974976 26 0.974976C24.9438 0.974976 24.05 1.38123 23.3188 2.11248L17.3875 8.04373C16.8187 8.61248 16.8187 9.50623 17.3875 10.075C17.6312 10.3187 18.0375 10.4812 18.3625 10.4812C18.6875 10.4812 19.0937 10.3187 19.3375 10.075L24.6187 4.87498V24.5375H4.95625L10.075 19.3375C10.6437 18.7687 10.6437 17.875 10.075 17.3062C9.50625 16.7375 8.6125 16.7375 8.04375 17.3062L2.1125 23.2375C0.65 24.7 0.65 27.1375 2.1125 28.6L8.04375 34.5312C8.2875 34.775 8.69375 34.9375 9.01875 34.9375C9.34375 34.9375 9.75 34.775 9.99375 34.5312C10.5625 33.9625 10.5625 33.0687 9.99375 32.5L4.79375 27.3H24.4563V47.125L19.2563 41.925C18.6875 41.3562 17.7938 41.3562 17.225 41.925C16.6563 42.4937 16.6563 43.3875 17.225 43.9562L23.1562 49.8875C23.8875 50.6187 24.8625 51.025 25.8375 51.025C26.8937 51.025 27.7875 50.6187 28.5187 49.8875L34.45 43.9562C35.0188 43.3875 35.0188 42.4937 34.45 41.925C33.8813 41.3562 32.9875 41.3562 32.4188 41.925L27.4625 47.125V27.3812H47.0438L41.8438 32.5812C41.275 33.15 41.275 34.0437 41.8438 34.6125C42.0875 34.8562 42.4938 35.0187 42.8188 35.0187C43.1438 35.0187 43.55 34.8562 43.7938 34.6125L49.725 28.6812C51.2688 27.2187 51.2687 24.7812 49.8062 23.3187Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <h4 class="font-bold text-xl text-dark mb-3">
                        Multipurpose Template
                    </h4>
                    <p class="text-body-color mb-8 lg:mb-11">
                        Lorem Ipsum is simply dummy text of the printing and industry.
                    </p>
                    <a href="javascript:void(0)"
                       class="font-medium text-base text-body-color hover:text-primary">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=".2s">
                    <div class="
                  w-[70px]
                  h-[70px]
                  flex
                  items-center
                  justify-center
                  bg-primary
                  rounded-2xl
                  mb-8
                  relative
                  z-10
                ">
                        <span class="
                    w-[70px]
                    h-[70px]
                    flex
                    items-center
                    justify-center
                    bg-primary bg-opacity-20
                    rounded-2xl
                    mb-8
                    absolute
                    z-[-1]
                    top-0
                    left-0
                    rotate-[25deg]
                    group-hover:rotate-45
                    duration-300
                  "></span>
                        <svg width="35"
                             height="35"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.7734 14.3281H3.82813C2.07813 14.3281 0.65625 12.9062 0.65625 11.1562V4.21094C0.65625 2.46094 2.07813 1.03906 3.82813 1.03906H10.7734C12.5234 1.03906 13.9453 2.46094 13.9453 4.21094V11.1562C13.9453 12.9062 12.5234 14.3281 10.7734 14.3281ZM3.82813 2.95312C3.17188 2.95312 2.57031 3.5 2.57031 4.21094V11.1562C2.57031 11.8125 3.11719 12.4141 3.82813 12.4141H10.7734C11.4297 12.4141 12.0313 11.8672 12.0313 11.1562V4.21094C12.0313 3.55469 11.4844 2.95312 10.7734 2.95312H3.82813Z"
                                  fill="white" />
                            <path d="M31.1719 14.3281H24.2266C22.4766 14.3281 21.0547 12.9062 21.0547 11.1562V4.21094C21.0547 2.46094 22.4766 1.03906 24.2266 1.03906H31.1719C32.9219 1.03906 34.3438 2.46094 34.3438 4.21094V11.1562C34.3438 12.9062 32.9219 14.3281 31.1719 14.3281ZM24.2266 2.95312C23.5703 2.95312 22.9688 3.5 22.9688 4.21094V11.1562C22.9688 11.8125 23.5156 12.4141 24.2266 12.4141H31.1719C31.8281 12.4141 32.4297 11.8672 32.4297 11.1562V4.21094C32.4297 3.55469 31.8828 2.95312 31.1719 2.95312H24.2266Z"
                                  fill="white" />
                            <path d="M10.7734 33.9609H3.82813C2.07813 33.9609 0.65625 32.5391 0.65625 30.7891V23.8438C0.65625 22.0938 2.07813 20.6719 3.82813 20.6719H10.7734C12.5234 20.6719 13.9453 22.0938 13.9453 23.8438V30.7891C13.9453 32.5391 12.5234 33.9609 10.7734 33.9609ZM3.82813 22.5859C3.17188 22.5859 2.57031 23.1328 2.57031 23.8438V30.7891C2.57031 31.4453 3.11719 32.0469 3.82813 32.0469H10.7734C11.4297 32.0469 12.0313 31.5 12.0313 30.7891V23.8438C12.0313 23.1875 11.4844 22.5859 10.7734 22.5859H3.82813Z"
                                  fill="white" />
                            <path d="M31.1719 33.9609H24.2266C22.4766 33.9609 21.0547 32.5391 21.0547 30.7891V23.8438C21.0547 22.0938 22.4766 20.6719 24.2266 20.6719H31.1719C32.9219 20.6719 34.3438 22.0938 34.3438 23.8438V30.7891C34.3438 32.5391 32.9219 33.9609 31.1719 33.9609ZM24.2266 22.5859C23.5703 22.5859 22.9688 23.1328 22.9688 23.8438V30.7891C22.9688 31.4453 23.5156 32.0469 24.2266 32.0469H31.1719C31.8281 32.0469 32.4297 31.5 32.4297 30.7891V23.8438C32.4297 23.1875 31.8828 22.5859 31.1719 22.5859H24.2266Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <h4 class="font-bold text-xl text-dark mb-3">
                        High-quality Design
                    </h4>
                    <p class="text-body-color mb-8 lg:mb-11">
                        Lorem Ipsum is simply dummy text of the printing and industry.
                    </p>
                    <a href="javascript:void(0)"
                       class="font-medium text-base text-body-color hover:text-primary">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                <div class="bg-white mb-12 group wow fadeInUp"
                     data-wow-delay=".25s">
                    <div class="
                  w-[70px]
                  h-[70px]
                  flex
                  items-center
                  justify-center
                  bg-primary
                  rounded-2xl
                  mb-8
                  relative
                  z-10
                ">
                        <span class="
                    w-[70px]
                    h-[70px]
                    flex
                    items-center
                    justify-center
                    bg-primary bg-opacity-20
                    rounded-2xl
                    mb-8
                    absolute
                    z-[-1]
                    top-0
                    left-0
                    rotate-[25deg]
                    group-hover:rotate-45
                    duration-300
                  "></span>
                        <svg width="35"
                             height="35"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.5312 21.6562L28.6563 21.1641L29.6953 20.5625C30.7344 19.9062 31.3359 18.8125 31.2812 17.6094C31.2266 16.4063 30.625 15.3125 29.5312 14.7109L27.8906 13.7813L29.6406 12.6875C30.6797 12.0313 31.2812 10.9375 31.2266 9.73438C31.1719 8.53125 30.5703 7.4375 29.4766 6.83594L19.25 1.09375C18.2109 0.492187 16.9531 0.546875 15.9141 1.09375L5.41406 7.21875C4.375 7.82031 3.71875 8.91406 3.71875 10.1172C3.71875 11.3203 4.375 12.4141 5.41406 13.0156L7.10938 14L5.41406 14.9844C4.375 15.5859 3.71875 16.6797 3.71875 17.8828C3.71875 19.0859 4.32031 20.1797 5.41406 20.7812L6.39844 21.3281L5.46875 21.875C4.42969 22.4766 3.77344 23.5703 3.77344 24.7734C3.77344 25.9766 4.375 27.0703 5.46875 27.6719L15.9141 33.6875C16.4609 34.0156 17.0078 34.125 17.6094 34.125C18.2109 34.125 18.8125 33.9609 19.3594 33.6328L29.6953 27.2891C30.7344 26.6328 31.3359 25.5391 31.2812 24.3359C31.2266 23.2969 30.625 22.2031 29.5312 21.6562ZM5.63281 10.1172C5.63281 9.57031 5.90625 9.13281 6.34375 8.85938L16.8438 2.78906C17.0625 2.67969 17.3359 2.57031 17.5547 2.57031C17.7734 2.57031 18.0469 2.625 18.2656 2.73437L28.5469 8.47656C28.9844 8.75 29.2578 9.1875 29.3125 9.73438C29.3125 10.2812 29.0391 10.7188 28.6016 10.9922L18.3203 17.3906C17.8828 17.6641 17.2812 17.6641 16.8438 17.3906L6.39844 11.375C5.90625 11.1562 5.63281 10.6641 5.63281 10.1172ZM5.63281 17.9375C5.63281 17.3906 5.90625 16.9531 6.34375 16.6797L9.02344 15.1484L15.8594 19.0859C16.4062 19.4141 16.9531 19.5234 17.5547 19.5234C18.1562 19.5234 18.7578 19.3594 19.3047 19.0312L26.0312 14.875L28.6016 16.2969C29.0391 16.5703 29.3125 17.0078 29.3672 17.5547C29.3672 18.1016 29.0938 18.5391 28.6563 18.8125L18.3203 25.2656C17.8828 25.5391 17.2812 25.5391 16.8438 25.2656L6.39844 19.25C5.90625 18.9766 5.63281 18.4844 5.63281 17.9375ZM28.6563 25.8125L18.3203 32.2109C17.8828 32.4844 17.2812 32.4844 16.8438 32.2109L6.39844 26.1953C5.96094 25.9219 5.6875 25.4844 5.6875 24.9375C5.6875 24.3906 5.96094 23.9531 6.39844 23.6797L8.3125 22.5859L15.8594 26.9609C16.4062 27.2891 16.9531 27.3984 17.5547 27.3984C18.1562 27.3984 18.7578 27.2344 19.3047 26.9062L26.7969 22.2578L28.6563 23.2969C29.0938 23.5703 29.3672 24.0078 29.4219 24.5547C29.3672 25.0469 29.0938 25.5391 28.6563 25.8125Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <h4 class="font-bold text-xl text-dark mb-3">
                        All Essential Elements
                    </h4>
                    <p class="text-body-color mb-8 lg:mb-11">
                        Lorem Ipsum is simply dummy text of the printing and industry.
                    </p>
                    <a href="javascript:void(0)"
                       class="font-medium text-base text-body-color hover:text-primary">
                        Learn More
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ====== Testimonials Start ====== -->
<section id="testimonials" class="pt-20 md:pt-[120px]">
    <div class="sectionstartnew px-4">
        <div class="flex flex-wrap">
            <div class="w-full mx-4">
                <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
                    <span class="font-semibold text-lg text-primary mb-2 block">
                        Postagens
                    </span>
                    <h2 class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[42px]
                  text-dark
                  mb-4
                ">
                        Destaques no nosso blog
                    </h2>
                    <p class="
                  text-lg
                  sm:text-xl
                  leading-relaxed
                  sm:leading-relaxed
                  text-body-color
                ">
                        Como forma de conhecimento, possuimos essa lista de postagens para que você conheça um pouco mais
                        o mundo da tecnologia.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                <div class="
                ud-single-testimonial
                p-8
                bg-white
                mb-12
                shadow-testimonial
                wow
                fadeInUp
              "
                     data-wow-delay=".1s
              ">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                    ud-testimonial-image
                    w-[50px]
                    h-[50px]
                    rounded-full
                    overflow-hidden
                    mr-5
                  ">
                            <img src="assets/images/testimonials/author-01.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Sabo Masties</h4>
                            <p class="text-[#969696] text-xs">Founder Rolex</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                <div class="
                ud-single-testimonial
                p-8
                bg-white
                mb-12
                shadow-testimonial
                wow
                fadeInUp
              "
                     data-wow-delay=".15s
              ">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                    ud-testimonial-image
                    w-[50px]
                    h-[50px]
                    rounded-full
                    overflow-hidden
                    mr-5
                  ">
                            <img src="assets/images/testimonials/author-02.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">Margin Gesmu</h4>
                            <p class="text-[#969696] text-xs">Founder UI Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                <div class="
                ud-single-testimonial
                p-8
                bg-white
                mb-12
                shadow-testimonial
                wow
                fadeInUp
              "
                     data-wow-delay=".2s
              ">
                    <div class="ud-testimonial-ratings flex items-center mb-3">
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                        <span class="text-[#fbb040] mr-1">
                            <svg width="18"
                                 height="16"
                                 viewBox="0 0 18 16"
                                 class="fill-current">
                                <path d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z" />
                            </svg>
                        </span>
                    </div>
                    <div class="ud-testimonial-content mb-6">
                        <p class="text-base tracking-wide text-body-color">
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info flex items-center">
                        <div class="
                    ud-testimonial-image
                    w-[50px]
                    h-[50px]
                    rounded-full
                    overflow-hidden
                    mr-5
                  ">
                            <img src="assets/images/testimonials/author-03.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4 class="text-sm font-semibold">William Smith</h4>
                            <p class="text-[#969696] text-xs">Founder Trorex</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ====== Testimonials End ====== -->
