html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.imgbanner {
    width : 100%;
}

.imgbanner img {
    width: 100%;
    background-position : center;
    background-size : cover;
}
